.container { 
  flex: 1;
  display: flex;
  height: 60vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.containerDetails {
  max-width: 40vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 34px;
  font-weight: 750;
  margin: 10px 0;
}

.desc {
  font-size: 30px;
  font-weight: 550;
  margin: 5px 0;
}

.bg {
  height: 60vh;
  position: absolute;
  z-index: 0;
  width: 100%;
  opacity: 0.4;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.507);
  background-image: url("../../../assets/carro.jpg");
}