.page {
  background-color: rgba(0, 0, 0, 0.555);
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.sectionWpp {
  height: 100vh;
  position: absolute;
  background-image: url("../assets/carro.jpg");
  background-size: cover;
  z-index: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  opacity: 0.4;

}

.sectionWpp::before {
  content: "";
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5); /* branco com 50% de opacidade */
  z-index: 1;
}

.title {
  font-size: 45px;
  font-weight: 750;
  margin: 15px 0;

}

.subtitle {
  font-size: 30px;
  font-weight: 450;
  margin: 5px 0;

}

.desc {
  font-size: 20px;
  font-weight: 450;


}


.buttonWpp {
  background-color: green;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.205);
  transition: transform 0.25s ease-in-out;
  margin-top: 50px;
}

.buttonWpp:hover {
  transform: scale(1.05);
}

.containerWpp {
  display: flex;
  flex: 1;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

}